* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
}

/* ============================
   LADO IZQUIERDO
============================ */

.contenedor-menu {
    width: 280px;
    height: 100vh;
    background: #ffffff;
    box-shadow: 3px 0px 40px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.card-menu {
    height: 100px;
    background: #f4bf87;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6e675a;
}

.card-menu h1 {
    margin: 0px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
}

.side-menu {
    display: flex;
    flex-direction: column;
    padding: 40px 50px 100px;
}

.side-menu a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
}
.side-menu a i {
    width: 20px;
    text-align: center;
}

.side-menu nav {
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.contenedor-btn-sesion {
    margin-top: auto;
    padding: 20px;
}

.btn-cerrar-sesion {
    width: 100%;
    background-color: #c0440a;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-cerrar-sesion:hover {
    background-color: #a33508;
}

/* ============================
   LADO DERECHO
============================ */

.card-centro {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
    border: 1px solid #6e675a;
    text-align: center;
}

.container-title {
    background: #f4bf87;
    box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.25);
    border: 1px solid #6e675a;
}

.card-centro h2 {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding: 40px;
    margin: 0;
    width: 100%;
}

.contenido-tabla {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

table {
    width: 100%;
    max-width: 1112px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

thead {
    background-color: #f4bf87;
}

th {
    padding: 15px 20px;
    text-align: center;
    font-weight: 600;
    color: #333;
    width: calc(100% / 6);
    text-overflow: ellipsis;
    overflow: hidden;
}

td {
    padding: 12px 20px;
    border-bottom: 1px solid #eeeeee;
    color: #333;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody tr:last-child td {
    border-bottom: none;
}

.btn-registrar {
    background-color: #c0440a;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.btn-registrar:hover {
    background-color: #a33508;
}
.side-menu a.activo {
    color: #c0440a;
}

.side-menu a.activo i {
    color: #c0440a;
}
.bajo-stock {
    color: #c0392b; /* rojo */
    font-weight: 600;
}
.en-stock {
    color: #27ae60; /* verde */
    font-weight: 600;
}
